## Data Structures

There are Two Types of Data structures
1. Primitive Data structures : Integer,Float,String,Boolean
2. Non-primitive Data Structures : a) Built-In b) User-Defined

a) Built-In : Tuples, Dictonary, Set, List

b) User-Defined : Stack, Queue, Linked-List, Tree

## List

In [16]:
list = [1,2,3,4]
print(list)

[1, 2, 3, 4]

In [17]:
list.append(5)

In [18]:
list

[1, 2, 3, 4, 5]

In [19]:
list.insert(5,6)

In [20]:
 list

[1, 2, 3, 4, 5, 6]

In [22]:
list1 = ["Vimala","Navya","Kavya"]
list2 = ["shanthi","Vidya","Megha"]
list1.extend(list2)
list1

['Vimala', 'Navya', 'Kavya', 'shanthi', 'Vidya', 'Megha']

In [65]:
# Creating a list
list = []
print("\nblank list: ",list)

# append
list.append(1)
list.append(2)
list.append(3)
print("\nlist after using append: ",list)

# Insert
list.insert(4,"Hello")
print("\nlist after using insert: ",list)

# Extend
list.extend("World")
print ("\nlist after using extend: ",list)

#pop
list.pop(7)
print('\nlist after using pop: ',list.pop(7))


#remove
list.remove("Hello")
print(list)

##clear
list.clear()
print(list)

blank list:  []

list after using append:  [1, 2, 3]

list after using insert:  [1, 2, 3, 'Hello']

list after using extend:  [1, 2, 3, 'Hello', 'W', 'o', 'r', 'l', 'd']

list after using pop:  d
[1, 2, 3, 'W', 'o', 'r']
[]

## Tuples

Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers.

In [68]:
#Creating a Tuple
tuple1 = ()
print(" empty Tuple: ")
print (tuple1)
 
#Creating a Tuple
#with the use of string
tuple1 = ('MaCBook Air', 'MaCBook Pro')
print("\nTuple with the use of String: ")
print(tuple1)
 
# Creating a Tuple with
# the use of list
list1 = [1, 2,2,4, 5]
print("\nTuple using List: ")
print(tuple(list1))
 
#Creating a Tuple
#with the use of built-in function
tuple1 = tuple(list1)
print("\nTuple with the use of function: ")
print(tuple1)

 empty Tuple:
()

Tuple with the use of String:
('MaCBook Air', 'MaCBook Pro')

Tuple using List:
(1, 2, 2, 4, 5)

Tuple with the use of function:
(1, 2, 2, 4, 5)

In [71]:
# Tuple count
tuple1.count(2)

# Tuple Index
tuple1.index(4)

3

In [72]:
stock_prices = [("Google",200),("SBI",400),("TCS",300)]
for i in stock_prices:
    print(i)

('Google', 200)
('SBI', 400)
('TCS', 300)

In [73]:
for ticker,prices in stock_prices:
    print(ticker)

Google
SBI
TCS

## Set

Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements

In [76]:
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print("\nSet with the use of Numbers: ")
print(set1)
 
# Creating a Set with
# a mixed type of values
# (Having numbers and strings)
set1 = set([1, 2, 'Hello', 4, 6, 'World'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

Set with the use of Mixed Values
{1, 2, 4, 6, 'World', 'Hello'}

In [85]:
s1 = {1,2,3,4,5}
s2={3,4,7,"Hello"}

s1.union(s2) #returns union of two sets
print("union of two sets :",s1)
s1.update([1,2,9])
print("updating elements to a set: ", s1)
s2.remove("Hello")
print("after removing 'Hello' from s2: ",s2)

union of two sets : {1, 2, 3, 4, 5}
updating elements to a set:  {1, 2, 3, 4, 5, 9}
after removing 'Hello' from s2:  {3, 4, 7}

## Dictionary

In [1]:
employers ={"name": ["Vimala","Kavya","Sushma"],
           "Id":[101,102,13],
           "email":["vimala@gmail.com","kavya@gmail.com","sushma@gmail.com"]}
# keys
employers.keys()

dict_keys(['name', 'Id', 'email'])

In [2]:
#values
employers.values()

dict_values([['Vimala', 'Kavya', 'Sushma'], [101, 102, 13], ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com']])

In [6]:
# pop
employers.pop("name")

['Vimala', 'Kavya', 'Sushma']

In [7]:
employers

{'Id': [101, 102, 13],
 'email': ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com']}

In [10]:
#copy
employers.copy()

{'Id': [101, 102, 13],
 'email': ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com']}

In [12]:
employers.get("Id")

[101, 102, 13]

In [25]:
names ={"names":["kavya","vimala","sushma"]}

In [26]:
#update
employers.update(names)

In [27]:
employers

{'Id': [101, 102, 13],
 'email': ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com'],
 'names': ['kavya', 'vimala', 'sushma']}

In [35]:

#get
employers.get("Id")

[101, 102, 13]

In [36]:
employers

{'Id': [101, 102, 13],
 'email': ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com'],
 'names': ['kavya', 'vimala', 'sushma']}

In [40]:

#items
employers.items()

dict_items([('Id', [101, 102, 13]), ('email', ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com']), ('names', ['kavya', 'vimala', 'sushma'])])

In [44]:
#set default
employers.setdefault("contact_no")
employers

{'Id': [101, 102, 13],
 'email': ['vimala@gmail.com', 'kavya@gmail.com', 'sushma@gmail.com'],
 'names': ['kavya', 'vimala', 'sushma'],
 'contact_no': None}

In [45]:
#clear
employers.clear()
employers

{}